<div class="login-container">
  <h2>LOGIN</h2>
  <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
        Usuario
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El usuario es requerido">
        <input nz-input formControlName="username" id="username" placeholder="lmoreno"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>
        Contraseña
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="La contraseña es requerida">
        <input nz-input type="password" formControlName="password" id="password" placeholder="Clave123."/>
      </nz-form-control>
    </nz-form-item>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="login-actions">
      <button nz-button nzType="primary" [disabled]="loginForm.invalid">
        Ingresar
      </button>
    </div>
  </form>
</div>